.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul{
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  font-size: 22px;
  background: white;
  color: #0000ff;
  font-weight: bold;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links ul, 
.right-links ul{
  display: flex;
  align-items: center;
  gap: 8px;
}