* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* MY SOLUTION */

.container{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
  "header  header"
  "sidebar navbar"
  "sidebar article"
  "footer  footer";
  gap: 4px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul{
  display: grid;
  grid-template-columns: repeat(4, 250px);
}

.sidebar{
  grid-area: sidebar;
  display: grid;
  gap: 50px;
}

.sidebar > div{
  display: grid;
  place-items: center;
}

.nav{
  grid-area: navbar;
}

.nav ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article{
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.footer{
  grid-area: footer;
}